In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\data science assesment answere\data science question/01_District_wise_crimes_committed_IPC_2001_2012dd.csv')
df

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Unnamed: 33,cevrscw
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,16,149,34,175,0,181,1518,4154,NaN,NaN
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,7,118,24,154,0,270,754,4125,NaN,NaN
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,14,112,83,186,0,404,1262,5818,NaN,NaN
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,17,126,38,57,0,233,1181,3140,NaN,NaN
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,12,109,58,247,0,431,2313,6507,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,0,1,0,1,0,0,32,60,NaN,NaN
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,0,1,0,1,0,0,32,60,NaN,NaN
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,0,2,0,1,0,44,392,787,NaN,NaN
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,0,7,2,5,0,219,1668,3494,NaN,NaN
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,0,9,2,6,0,263,2060,4281,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 35 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             9017 non-null   object
 1   DISTRICT                                             9017 non-null   object
 2   YEAR                                                 9017 non-null   int64
 3   MURDER                                               9017 non-null   int64
 4   ATTEMPT TO MURDER                                    9017 non-null   int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9017 non-null   int64
 6   RAPE                                                 9017 non-null   int64
 7   CUSTODIAL RAPE                                       9017 non-null   int64
 8   OTHER RAPE                                           9017 non-null   int64
 9   KIDNAPPING & ABDUCTION                               9017 non-null   int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9017 non-null   int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   9017 non-null   int64
 12  DACOITY                                              9017 non-null   int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 9017 non-null   int64
 14  ROBBERY                                              9017 non-null   int64
 15  BURGLARY                                             9017 non-null   int64
 16  THEFT                                                9017 non-null   int64
 17  AUTO THEFT                                           9017 non-null   int64
 18  OTHER THEFT                                          9017 non-null   int64
 19  RIOTS                                                9017 non-null   int64
 20  CRIMINAL BREACH OF TRUST                             9017 non-null   int64
 21  CHEATING                                             9017 non-null   int64
 22  COUNTERFIETING                                       9017 non-null   int64
 23  ARSON                                                9017 non-null   int64
 24  HURT/GREVIOUS HURT                                   9017 non-null   int64
 25  DOWRY DEATHS                                         9017 non-null   int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9017 non-null   int64
 27  INSULT TO MODESTY OF WOMEN                           9017 non-null   int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  9017 non-null   int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9017 non-null   int64
 30  CAUSING DEATH BY NEGLIGENCE                          9017 non-null   int64
 31  OTHER IPC CRIMES                                     9017 non-null   int64
 32  TOTAL IPC CRIMES                                     9017 non-null   int64
 33  Unnamed: 33                                          0 non-null      float64
 34  cevrscw                                              0 non-null      float64
dtypes: float64(2), int64(31), object(2)
memory usage: 2.4+ MB

In [4]:
df.drop(['Unnamed: 33','cevrscw'],axis=1,inplace=True)
df

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

In [5]:
df1=pd.read_csv(r'C:\data science assesment answere\data science question/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv')
df1

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

In [6]:
df2=pd.read_csv(r'C:\data science assesment answere\data science question/02_District_wise_crimes_committed_against_ST_2001_2012.csv')
df2

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

In [7]:
df3=pd.read_csv(r'C:\data science assesment answere\data science question/03_District_wise_crimes_committed_against_children_2001_2012.csv')
df3

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [8]:
df3.isna().sum()

STATE/UT                              0
DISTRICT                              0
Year                                  0
Murder                               11
Rape                                 11
Kidnapping and Abduction             11
Foeticide                            11
Abetment of suicide                  11
Exposure and abandonment             11
Procuration of minor girls           11
Buying of girls for prostitution     11
Selling of girls for prostitution    11
Prohibition of child marriage act    11
Other Crimes                         11
Total                                 0
dtype: int64

In [9]:
df3['Kidnapping and Abduction']=df3['Kidnapping and Abduction'].fillna(df3['Kidnapping and Abduction'].mean())
df3['Buying of girls for prostitution']=df3['Buying of girls for prostitution'].fillna(df3['Buying of girls for prostitution'].mean())
df3['Selling of girls for prostitution']=df3['Selling of girls for prostitution'].fillna(df3['Selling of girls for prostitution'].mean())
df3['Other Crimes']=df3['Other Crimes'].fillna(df3['Other Crimes'].mean())

In [10]:
df3.isna().sum()

STATE/UT                              0
DISTRICT                              0
Year                                  0
Murder                               11
Rape                                 11
Kidnapping and Abduction              0
Foeticide                            11
Abetment of suicide                  11
Exposure and abandonment             11
Procuration of minor girls           11
Buying of girls for prostitution      0
Selling of girls for prostitution     0
Prohibition of child marriage act    11
Other Crimes                          0
Total                                 0
dtype: int64

In [11]:
df3

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [12]:
for i in df3.columns:
    print(df3[i].value_counts())
    print('\n')

UTTAR PRADESH        878
MADHYA PRADESH       628
MAHARASHTRA          552
BIHAR                539
TAMIL NADU           469
RAJASTHAN            454
ODISHA               430
KARNATAKA            399
GUJARAT              384
ANDHRA PRADESH       370
ASSAM                361
JAMMU & KASHMIR      322
PUNJAB               314
JHARKHAND            312
WEST BENGAL          309
HARYANA              268
CHHATTISGARH         265
KERALA               233
ARUNACHAL PRADESH    195
DELHI                183
HIMACHAL PRADESH     176
UTTARAKHAND          168
NAGALAND             139
MANIPUR              125
MIZORAM              108
MEGHALAYA             96
TRIPURA               67
SIKKIM                60
A & N ISLANDS         36
DAMAN & DIU           36
GOA                   36
PUDUCHERRY            31
CHANDIGARH            24
D & N HAVELI          24
LAKSHADWEEP           24
Name: STATE/UT, dtype: int64


TOTAL              412
G.R.P.              46
SOUTH               37
NORTH               37
WEST                36
                  ...
A and N ISLANDS      1
RAILWAYS KMR         1
CRIME KASHMIR        1
RAILWAYSJMU          1
CAR                  1
Name: DISTRICT, Length: 821, dtype: int64


2012    811
2011    791
2010    779
2009    766
2008    761
2007    743
2006    740
2005    734
2004    729
2003    727
2002    719
2001    715
Name: Year, dtype: int64


0.0      4491
1.0      1160
2.0       803
3.0       614
4.0       423
         ...
56.0        1
116.0       1
203.0       1
458.0       1
463.0       1
Name: Murder, Length: 125, dtype: int64


0.0      3734
1.0       558
2.0       458
3.0       448
4.0       354
         ...
406.0       1
135.0       1
138.0       1
615.0       1
415.0       1
Name: Rape, Length: 208, dtype: int64


0.0       4027
1.0        549
2.0        395
3.0        355
4.0        312
          ...
279.0        1
1208.0       1
632.0        1
722.0        1
3686.0       1
Name: Kidnapping and Abduction, Length: 283, dtype: int64


0.0     8295
1.0      351
2.0      124
3.0       47
4.0       41
5.0       35
7.0       17
6.0       16
10.0      15
9.0        9
12.0       9
8.0        7
15.0       5
18.0       4
11.0       4
13.0       3
17.0       3
14.0       3
22.0       2
25.0       2
21.0       2
20.0       1
35.0       1
16.0       1
24.0       1
39.0       1
23.0       1
38.0       1
28.0       1
64.0       1
37.0       1
Name: Foeticide, dtype: int64


0.0     8575
1.0      249
2.0       66
3.0       32
4.0       22
6.0       11
5.0       11
7.0       10
8.0        6
11.0       4
13.0       4
9.0        4
12.0       3
10.0       3
16.0       1
21.0       1
19.0       1
57.0       1
Name: Abetment of suicide, dtype: int64


0.0      7043
1.0       405
2.0       284
4.0       183
3.0       181
         ...
47.0        1
58.0        1
150.0       1
255.0       1
172.0       1
Name: Exposure and abandonment, Length: 91, dtype: int64


0.0      8281
1.0       183
2.0        94
3.0        68
4.0        45
         ...
22.0        1
37.0        1
60.0        1
46.0        1
369.0       1
Name: Procuration of minor girls, Length: 64, dtype: int64


0.000000     8890
1.000000       56
2.000000       11
0.075966       11
3.000000       11
5.000000        6
9.000000        5
8.000000        4
31.000000       2
27.000000       2
29.000000       2
18.000000       2
4.000000        2
23.000000       2
6.000000        2
25.000000       1
11.000000       1
45.000000       1
48.000000       1
19.000000       1
20.000000       1
22.000000       1
Name: Buying of girls for prostitution, dtype: int64


0.000000      8755
1.000000       124
2.000000        39
3.000000        16
4.000000        14
0.170813        11
6.000000        10
9.000000         4
7.000000         4
17.000000        3
13.000000        3
10.000000        3
12.000000        2
25.000000        2
29.000000        2
11.000000        2
15.000000        2
115.000000       1
8.000000         1
18.000000        1
16.000000        1
5.000000         1
87.000000        1
20.000000        1
26.000000        1
41.000000        1
33.000000        1
49.000000        1
40.000000        1
22.000000        1
55.000000        1
114.000000       1
28.000000        1
27.000000        1
44.000000        1
56.000000        1
Name: Selling of girls for prostitution, dtype: int64


0.0     8175
1.0      502
2.0      133
3.0       61
4.0       34
5.0       18
6.0       17
8.0        9
7.0        8
9.0        5
10.0       5
14.0       5
11.0       4
15.0       3
19.0       3
25.0       2
29.0       2
16.0       2
26.0       2
43.0       2
18.0       2
12.0       2
13.0       1
23.0       1
21.0       1
38.0       1
17.0       1
22.0       1
30.0       1
20.0       1
Name: Prohibition of child marriage act, dtype: int64


0.0      5492
1.0       435
2.0       346
3.0       255
4.0       197
         ...
481.0       1
408.0       1
341.0       1
138.0       1
241.0       1
Name: Other Crimes, Length: 259, dtype: int64


0       2563
1        377
2        275
3        221
4        201
        ...
331        1
2707       1
527        1
1252       1
4462       1
Name: Total, Length: 449, dtype: int64

In [13]:
df1.drop(['Murder','Kidnapping and Abduction','Rape','Dacoity','Robbery','Arson','Hurt','Prevention of atrocities (POA) Act','Protection of Civil Rights (PCR) Act'],axis=1,inplace=True)
df1

            STATE/UT       DISTRICT  Year  Other Crimes Against SCs
0     ANDHRA PRADESH       ADILABAD  2001                        32
1     ANDHRA PRADESH      ANANTAPUR  2001                        53
2     ANDHRA PRADESH       CHITTOOR  2001                        34
3     ANDHRA PRADESH       CUDDAPAH  2001                        25
4     ANDHRA PRADESH  EAST GODAVARI  2001                         7
...              ...            ...   ...                       ...
9013     LAKSHADWEEP    LAKSHADWEEP  2012                         0
9014     LAKSHADWEEP          TOTAL  2012                         0
9015      PUDUCHERRY       KARAIKAL  2012                         0
9016      PUDUCHERRY     PUDUCHERRY  2012                         1
9017      PUDUCHERRY          TOTAL  2012                         1

[9018 rows x 4 columns]

In [14]:
df2.drop(['Murder','Kidnapping Abduction','Rape','Dacoity','Robbery','Arson','Hurt','Prevention of atrocities (POA) Act','Protection of Civil Rights (PCR) Act'],axis=1,inplace=True)
df2

            STATE/UT       DISTRICT  Year  Other Crimes Against STs
0     ANDHRA PRADESH       ADILABAD  2001                        13
1     ANDHRA PRADESH      ANANTAPUR  2001                         6
2     ANDHRA PRADESH       CHITTOOR  2001                         0
3     ANDHRA PRADESH       CUDDAPAH  2001                         0
4     ANDHRA PRADESH  EAST GODAVARI  2001                        14
...              ...            ...   ...                       ...
9013     LAKSHADWEEP    LAKSHADWEEP  2012                         0
9014     LAKSHADWEEP          TOTAL  2012                         0
9015      PUDUCHERRY       KARAIKAL  2012                         0
9016      PUDUCHERRY     PUDUCHERRY  2012                         0
9017      PUDUCHERRY          TOTAL  2012                         0

[9018 rows x 4 columns]

In [15]:
df3.drop(['Murder','Rape','Foeticide','Abetment of suicide','Exposure and abandonment','Procuration of minor girls','Prohibition of child marriage act','Total'],axis=1,inplace=True)
df3

,STATE/UT,DISTRICT,Year,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0
1,ANDHRA PRADESH,ANANTAPUR,2001,29.0,0.0,0.0,0.0
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0
9012,PUDUCHERRY,KARAIKAL,2012,2.0,0.0,0.0,1.0
9013,PUDUCHERRY,PUDUCHERRY,2012,16.0,0.0,0.0,2.0
9014,PUDUCHERRY,TOTAL,2012,18.0,0.0,0.0,3.0

In [17]:
df3.isna().sum()

STATE/UT                             0
DISTRICT                             0
Year                                 0
Kidnapping and Abduction             0
Buying of girls for prostitution     0
Selling of girls for prostitution    0
Other Crimes                         0
dtype: int64

In [18]:
df3

,STATE/UT,DISTRICT,Year,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0
1,ANDHRA PRADESH,ANANTAPUR,2001,29.0,0.0,0.0,0.0
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0
9012,PUDUCHERRY,KARAIKAL,2012,2.0,0.0,0.0,1.0
9013,PUDUCHERRY,PUDUCHERRY,2012,16.0,0.0,0.0,2.0
9014,PUDUCHERRY,TOTAL,2012,18.0,0.0,0.0,3.0

In [19]:
dataset=pd.merge(df,df1)
dataset

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Year,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,16,149,34,175,0,181,1518,4154,2001,32
1,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,16,149,34,175,0,181,1518,4154,2002,18
2,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,16,149,34,175,0,181,1518,4154,2003,12
3,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,16,149,34,175,0,181,1518,4154,2004,25
4,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,16,149,34,175,0,181,1518,4154,2005,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101868,WEST BENGAL,JHARGRAM,2012,30,23,5,21,0,21,21,...,6,28,0,47,0,51,264,711,2012,0
101869,WEST BENGAL,SILIGURI_PC,2012,32,6,6,21,0,21,123,...,3,35,12,370,0,69,385,3023,2012,0
101870,A & N ISLANDS,CAR,2012,2,0,0,0,0,0,1,...,0,1,0,0,0,1,8,24,2012,0
101871,A & N ISLANDS,NORTH,2012,5,0,0,4,0,4,0,...,0,2,1,2,0,0,70,115,2012,0
101872,A & N ISLANDS,SOUTH,2012,8,3,0,8,0,8,7,...,2,14,3,3,0,5,273,544,2012,0

In [20]:
dataset=pd.merge(dataset,df2)
dataset

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Year,Other Crimes Against SCs,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,149,34,175,0,181,1518,4154,2001,32,13
1,ANDHRA PRADESH,ADILABAD,2002,100,79,17,37,0,37,42,...,174,63,240,0,225,1753,4675,2001,32,13
2,ANDHRA PRADESH,ADILABAD,2003,107,65,11,35,0,35,46,...,141,39,238,0,248,1917,4881,2001,32,13
3,ANDHRA PRADESH,ADILABAD,2004,113,83,11,50,0,50,48,...,135,71,296,0,271,1898,5011,2001,32,13
4,ANDHRA PRADESH,ADILABAD,2005,108,48,13,53,0,53,65,...,144,77,280,0,276,1838,5033,2001,32,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101916,WEST BENGAL,JHARGRAM,2012,30,23,5,21,0,21,21,...,28,0,47,0,51,264,711,2012,0,2
101917,WEST BENGAL,SILIGURI_PC,2012,32,6,6,21,0,21,123,...,35,12,370,0,69,385,3023,2012,0,7
101918,A & N ISLANDS,CAR,2012,2,0,0,0,0,0,1,...,1,0,0,0,1,8,24,2012,0,0
101919,A & N ISLANDS,NORTH,2012,5,0,0,4,0,4,0,...,2,1,2,0,0,70,115,2012,0,0
101920,A & N ISLANDS,SOUTH,2012,8,3,0,8,0,8,7,...,14,3,3,0,5,273,544,2012,0,2

In [21]:
dataset=pd.merge(dataset,df3)
dataset

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Year,Other Crimes Against SCs,Other Crimes Against STs,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,181,1518,4154,2001,32,13,0.0,0.0,0.0,0.0
1,ANDHRA PRADESH,ADILABAD,2002,100,79,17,37,0,37,42,...,225,1753,4675,2001,32,13,0.0,0.0,0.0,0.0
2,ANDHRA PRADESH,ADILABAD,2003,107,65,11,35,0,35,46,...,248,1917,4881,2001,32,13,0.0,0.0,0.0,0.0
3,ANDHRA PRADESH,ADILABAD,2004,113,83,11,50,0,50,48,...,271,1898,5011,2001,32,13,0.0,0.0,0.0,0.0
4,ANDHRA PRADESH,ADILABAD,2005,108,48,13,53,0,53,65,...,276,1838,5033,2001,32,13,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101802,WEST BENGAL,JHARGRAM,2012,30,23,5,21,0,21,21,...,51,264,711,2012,0,2,6.0,0.0,0.0,0.0
101803,WEST BENGAL,SILIGURI_PC,2012,32,6,6,21,0,21,123,...,69,385,3023,2012,0,7,14.0,0.0,0.0,25.0
101804,A & N ISLANDS,CAR,2012,2,0,0,0,0,0,1,...,1,8,24,2012,0,0,1.0,0.0,0.0,1.0
101805,A & N ISLANDS,NORTH,2012,5,0,0,4,0,4,0,...,0,70,115,2012,0,0,0.0,0.0,0.0,2.0
101806,A & N ISLANDS,SOUTH,2012,8,3,0,8,0,8,7,...,5,273,544,2012,0,2,7.0,0.0,0.0,5.0

In [23]:
X=dataset.drop(['STATE/UT','DISTRICT','YEAR',],axis=1)
X

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Year,Other Crimes Against SCs,Other Crimes Against STs,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
0,101,60,17,50,0,50,46,30,16,9,...,181,1518,4154,2001,32,13,0.0,0.0,0.0,0.0
1,100,79,17,37,0,37,42,32,10,7,...,225,1753,4675,2001,32,13,0.0,0.0,0.0,0.0
2,107,65,11,35,0,35,46,16,30,8,...,248,1917,4881,2001,32,13,0.0,0.0,0.0,0.0
3,113,83,11,50,0,50,48,42,6,4,...,271,1898,5011,2001,32,13,0.0,0.0,0.0,0.0
4,108,48,13,53,0,53,65,46,19,9,...,276,1838,5033,2001,32,13,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101802,30,23,5,21,0,21,21,21,0,10,...,51,264,711,2012,0,2,6.0,0.0,0.0,0.0
101803,32,6,6,21,0,21,123,111,12,3,...,69,385,3023,2012,0,7,14.0,0.0,0.0,25.0
101804,2,0,0,0,0,0,1,1,0,1,...,1,8,24,2012,0,0,1.0,0.0,0.0,1.0
101805,5,0,0,4,0,4,0,0,0,0,...,0,70,115,2012,0,0,0.0,0.0,0.0,2.0
101806,8,3,0,8,0,8,7,6,1,4,...,5,273,544,2012,0,2,7.0,0.0,0.0,5.0

In [24]:
X.drop('Year',axis=1,inplace=True)

In [25]:
X

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Other Crimes Against SCs,Other Crimes Against STs,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
0,101,60,17,50,0,50,46,30,16,9,...,0,181,1518,4154,32,13,0.0,0.0,0.0,0.0
1,100,79,17,37,0,37,42,32,10,7,...,0,225,1753,4675,32,13,0.0,0.0,0.0,0.0
2,107,65,11,35,0,35,46,16,30,8,...,0,248,1917,4881,32,13,0.0,0.0,0.0,0.0
3,113,83,11,50,0,50,48,42,6,4,...,0,271,1898,5011,32,13,0.0,0.0,0.0,0.0
4,108,48,13,53,0,53,65,46,19,9,...,0,276,1838,5033,32,13,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101802,30,23,5,21,0,21,21,21,0,10,...,0,51,264,711,0,2,6.0,0.0,0.0,0.0
101803,32,6,6,21,0,21,123,111,12,3,...,0,69,385,3023,0,7,14.0,0.0,0.0,25.0
101804,2,0,0,0,0,0,1,1,0,1,...,0,1,8,24,0,0,1.0,0.0,0.0,1.0
101805,5,0,0,4,0,4,0,0,0,0,...,0,0,70,115,0,0,0.0,0.0,0.0,2.0
101806,8,3,0,8,0,8,7,6,1,4,...,0,5,273,544,0,2,7.0,0.0,0.0,5.0

In [26]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101807 entries, 0 to 101806
Data columns (total 36 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   MURDER                                               101807 non-null  int64
 1   ATTEMPT TO MURDER                                    101807 non-null  int64
 2   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            101807 non-null  int64
 3   RAPE                                                 101807 non-null  int64
 4   CUSTODIAL RAPE                                       101807 non-null  int64
 5   OTHER RAPE                                           101807 non-null  int64
 6   KIDNAPPING & ABDUCTION                               101807 non-null  int64
 7   KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          101807 non-null  int64
 8   KIDNAPPING AND ABDUCTION OF OTHERS                   101807 non-null  int64
 9   DACOITY                                              101807 non-null  int64
 10  PREPARATION AND ASSEMBLY FOR DACOITY                 101807 non-null  int64
 11  ROBBERY                                              101807 non-null  int64
 12  BURGLARY                                             101807 non-null  int64
 13  THEFT                                                101807 non-null  int64
 14  AUTO THEFT                                           101807 non-null  int64
 15  OTHER THEFT                                          101807 non-null  int64
 16  RIOTS                                                101807 non-null  int64
 17  CRIMINAL BREACH OF TRUST                             101807 non-null  int64
 18  CHEATING                                             101807 non-null  int64
 19  COUNTERFIETING                                       101807 non-null  int64
 20  ARSON                                                101807 non-null  int64
 21  HURT/GREVIOUS HURT                                   101807 non-null  int64
 22  DOWRY DEATHS                                         101807 non-null  int64
 23  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  101807 non-null  int64
 24  INSULT TO MODESTY OF WOMEN                           101807 non-null  int64
 25  CRUELTY BY HUSBAND OR HIS RELATIVES                  101807 non-null  int64
 26  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          101807 non-null  int64
 27  CAUSING DEATH BY NEGLIGENCE                          101807 non-null  int64
 28  OTHER IPC CRIMES                                     101807 non-null  int64
 29  TOTAL IPC CRIMES                                     101807 non-null  int64
 30  Other Crimes Against SCs                             101807 non-null  int64
 31  Other Crimes Against STs                             101807 non-null  int64
 32  Kidnapping and Abduction                             101807 non-null  float64
 33  Buying of girls for prostitution                     101807 non-null  float64
 34  Selling of girls for prostitution                    101807 non-null  float64
 35  Other Crimes                                         101807 non-null  float64
dtypes: float64(4), int64(32)
memory usage: 28.7 MB

In [27]:
X.drop(['ARSON','RIOTS','COUNTERFIETING','CAUSING DEATH BY NEGLIGENCE'],axis=1,inplace=True)
X

,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,KIDNAPPING AND ABDUCTION OF OTHERS,DACOITY,...,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,OTHER IPC CRIMES,TOTAL IPC CRIMES,Other Crimes Against SCs,Other Crimes Against STs,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
0,101,60,17,50,0,50,46,30,16,9,...,175,0,1518,4154,32,13,0.0,0.0,0.0,0.0
1,100,79,17,37,0,37,42,32,10,7,...,240,0,1753,4675,32,13,0.0,0.0,0.0,0.0
2,107,65,11,35,0,35,46,16,30,8,...,238,0,1917,4881,32,13,0.0,0.0,0.0,0.0
3,113,83,11,50,0,50,48,42,6,4,...,296,0,1898,5011,32,13,0.0,0.0,0.0,0.0
4,108,48,13,53,0,53,65,46,19,9,...,280,0,1838,5033,32,13,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101802,30,23,5,21,0,21,21,21,0,10,...,47,0,264,711,0,2,6.0,0.0,0.0,0.0
101803,32,6,6,21,0,21,123,111,12,3,...,370,0,385,3023,0,7,14.0,0.0,0.0,25.0
101804,2,0,0,0,0,0,1,1,0,1,...,0,0,8,24,0,0,1.0,0.0,0.0,1.0
101805,5,0,0,4,0,4,0,0,0,0,...,2,0,70,115,0,0,0.0,0.0,0.0,2.0
101806,8,3,0,8,0,8,7,6,1,4,...,3,0,273,544,0,2,7.0,0.0,0.0,5.0

In [28]:
from sklearn.cluster import KMeans

In [53]:
kmeans=KMeans(n_clusters=3,random_state=42)
y_pred=kmeans.fit_predict(X)
print(y_pred)

[0 0 0 ... 0 0 0]

In [32]:
from sklearn.metrics import silhouette_score

In [54]:
silhouette_score(X,y_pred)

0.9173213866053644

In [59]:
PA=dataset[y_pred==0]
print(PA)#PEACEFUL AREA

              STATE/UT     DISTRICT  YEAR  MURDER  ATTEMPT TO MURDER  \
0       ANDHRA PRADESH     ADILABAD  2001     101                 60
1       ANDHRA PRADESH     ADILABAD  2002     100                 79
2       ANDHRA PRADESH     ADILABAD  2003     107                 65
3       ANDHRA PRADESH     ADILABAD  2004     113                 83
4       ANDHRA PRADESH     ADILABAD  2005     108                 48
...                ...          ...   ...     ...                ...
101802     WEST BENGAL     JHARGRAM  2012      30                 23
101803     WEST BENGAL  SILIGURI_PC  2012      32                  6
101804   A & N ISLANDS          CAR  2012       2                  0
101805   A & N ISLANDS        NORTH  2012       5                  0
101806   A & N ISLANDS        SOUTH  2012       8                  3

        CULPABLE HOMICIDE NOT AMOUNTING TO MURDER  RAPE  CUSTODIAL RAPE  \
0                                              17    50               0
1                                              17    37               0
2                                              11    35               0
3                                              11    50               0
4                                              13    53               0
...                                           ...   ...             ...
101802                                          5    21               0
101803                                          6    21               0
101804                                          0     0               0
101805                                          0     4               0
101806                                          0     8               0

        OTHER RAPE  KIDNAPPING & ABDUCTION  ...  CAUSING DEATH BY NEGLIGENCE  \
0               50                      46  ...                          181
1               37                      42  ...                          225
2               35                      46  ...                          248
3               50                      48  ...                          271
4               53                      65  ...                          276
...            ...                     ...  ...                          ...
101802          21                      21  ...                           51
101803          21                     123  ...                           69
101804           0                       1  ...                            1
101805           4                       0  ...                            0
101806           8                       7  ...                            5

        OTHER IPC CRIMES  TOTAL IPC CRIMES  Year  Other Crimes Against SCs  \
0                   1518              4154  2001                        32
1                   1753              4675  2001                        32
2                   1917              4881  2001                        32
3                   1898              5011  2001                        32
4                   1838              5033  2001                        32
...                  ...               ...   ...                       ...
101802               264               711  2012                         0
101803               385              3023  2012                         0
101804                 8                24  2012                         0
101805                70               115  2012                         0
101806               273               544  2012                         0

        Other Crimes Against STs  Kidnapping and Abduction  \
0                             13                       0.0
1                             13                       0.0
2                             13                       0.0
3                             13                       0.0
4                             13                       0.0
...                          ...                       ...
101802                         2                       6.0
101803                         7                      14.0
101804                         0                       1.0
101805                         0                       0.0
101806                         2                       7.0

        Buying of girls for prostitution  Selling of girls for prostitution  \
0                                    0.0                                0.0
1                                    0.0                                0.0
2                                    0.0                                0.0
3                                    0.0                                0.0
4                                    0.0                                0.0
...                                  ...                                ...
101802                               0.0                                0.0
101803                               0.0                                0.0
101804                               0.0                                0.0
101805                               0.0                                0.0
101806                               0.0                                0.0

        Other Crimes
0                0.0
1                0.0
2                0.0
3                0.0
4                0.0
...              ...
101802           0.0
101803          25.0
101804           1.0
101805           2.0
101806           5.0

[99110 rows x 40 columns]

In [56]:
SA=dataset[y_pred==1]
print(SA)#SENSITIVE AREA

             STATE/UT DISTRICT  YEAR  MURDER  ATTEMPT TO MURDER  \
3913   ANDHRA PRADESH    TOTAL  2001    2602               1555
3914   ANDHRA PRADESH    TOTAL  2002    2525               1644
3915   ANDHRA PRADESH    TOTAL  2003    2667               1678
3916   ANDHRA PRADESH    TOTAL  2004    2579               1908
3917   ANDHRA PRADESH    TOTAL  2005    2750               1724
...               ...      ...   ...     ...                ...
96052     WEST BENGAL    TOTAL  2008    1811               1732
96053     WEST BENGAL    TOTAL  2009    2068               2119
96054     WEST BENGAL    TOTAL  2010    2398               2111
96055     WEST BENGAL    TOTAL  2011    2109               2242
96056     WEST BENGAL    TOTAL  2012    2252               2854

       CULPABLE HOMICIDE NOT AMOUNTING TO MURDER  RAPE  CUSTODIAL RAPE  \
3913                                         136   871               0
3914                                         165  1002               0
3915                                         147   946               0
3916                                         163  1016               0
3917                                         111   935               1
...                                          ...   ...             ...
96052                                        488  2263               0
96053                                        931  2336               0
96054                                        630  2311               0
96055                                        486  2363               0
96056                                        522  2046               0

       OTHER RAPE  KIDNAPPING & ABDUCTION  ...  CAUSING DEATH BY NEGLIGENCE  \
3913          871                    1182  ...                         7400
3914         1002                    1302  ...                         8691
3915          946                    1485  ...                         8515
3916         1016                    1526  ...                        11452
3917          934                    1612  ...                         9973
...           ...                     ...  ...                          ...
96052        2263                    2332  ...                         3789
96053        2336                    2750  ...                         3623
96054        2311                    3345  ...                         2847
96055        2363                    4285  ...                         3249
96056        2046                    5117  ...                         4385

       OTHER IPC CRIMES  TOTAL IPC CRIMES  Year  Other Crimes Against SCs  \
3913              34344            130089  2001                      1006
3914              36385            143610  2001                      1006
3915              39242            156951  2001                      1006
3916              36460            158756  2001                      1006
3917              37707            157123  2001                      1006
...                 ...               ...   ...                       ...
96052             38177            105419  2012                        58
96053             38776            113036  2012                        58
96054             49096            129616  2012                        58
96055             56614            143197  2012                        58
96056             64482            161427  2012                        58

       Other Crimes Against STs  Kidnapping and Abduction  \
3913                        220                      57.0
3914                        220                      57.0
3915                        220                      57.0
3916                        220                      57.0
3917                        220                      57.0
...                         ...                       ...
96052                        55                     767.0
96053                        55                     767.0
96054                        55                     767.0
96055                        55                     767.0
96056                        55                     767.0

       Buying of girls for prostitution  Selling of girls for prostitution  \
3913                                0.0                                0.0
3914                                0.0                                0.0
3915                                0.0                                0.0
3916                                0.0                                0.0
3917                                0.0                                0.0
...                                 ...                                ...
96052                               3.0                               56.0
96053                               3.0                               56.0
96054                               3.0                               56.0
96055                               3.0                               56.0
96056                               3.0                               56.0

       Other Crimes
3913           47.0
3914           47.0
3915           47.0
3916           47.0
3917           47.0
...             ...
96052         122.0
96053         122.0
96054         122.0
96055         122.0
96056         122.0

[1440 rows x 40 columns]

In [57]:
MA=dataset[y_pred==2]

In [58]:
MA # MODERATE AREA

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,Year,Other Crimes Against SCs,Other Crimes Against STs,Kidnapping and Abduction,Buying of girls for prostitution,Selling of girls for prostitution,Other Crimes
9949,ASSAM,TOTAL,2001,1356,481,40,817,0,817,1480,...,2010,9315,36877,2001,0,0,18.0,0.0,0.0,0.0
9950,ASSAM,TOTAL,2002,1253,479,55,970,0,970,1595,...,1957,8575,36346,2001,0,0,18.0,0.0,0.0,0.0
9951,ASSAM,TOTAL,2003,1191,485,48,1095,0,1095,1628,...,2086,9227,38195,2001,0,0,18.0,0.0,0.0,0.0
9952,ASSAM,TOTAL,2004,1214,410,63,1171,0,1171,1906,...,2239,10040,40675,2001,0,0,18.0,0.0,0.0,0.0
9953,ASSAM,TOTAL,2005,1194,503,117,1238,0,1238,1751,...,2695,11299,42006,2001,0,0,18.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100370,MAHARASHTRA,MUMBAI COMMR.,2008,210,132,0,218,0,218,189,...,709,6850,32770,2012,13,0,142.0,0.0,0.0,193.0
100371,MAHARASHTRA,MUMBAI COMMR.,2009,217,160,6,182,0,182,149,...,710,6738,31262,2012,13,0,142.0,0.0,0.0,193.0
100372,MAHARASHTRA,MUMBAI COMMR.,2010,228,170,7,194,0,194,194,...,690,7093,33932,2012,13,0,142.0,0.0,0.0,193.0
100373,MAHARASHTRA,MUMBAI COMMR.,2011,203,180,4,221,0,221,221,...,656,6464,32647,2012,13,0,142.0,0.0,0.0,193.0
100374,MAHARASHTRA,MUMBAI COMMR.,2012,215,170,9,232,0,232,212,...,621,6423,30508,2012,13,0,142.0,0.0,0.0,193.0

In [ ]:
1.IN SENSITIVE AREA MURDER,ATTEMPT TO MURDER, TOTAL IPC CRIMES 
THESE FACTORS ARE IMPACTING MORE IN THE SENSITIVE AREA DUE TO WHICH CRIME INCREASES MORE IN INDIA

In [ ]:
2.THERE ARE SEVERAL POINT WHICH HAS TO BE TAKEN TO REDUCE THE CRIME
A.WE SHOULD BE AWARE OF WHAT IS HAPPENING IN THE COUNTARY SO THAT WE CAN KEEP OURSELF SAFE AND SHOULD BE AWARE
B.IF WE ARE AT THAT PLACE WHERE CRIME IS HAPPENING MORE THEN PEOPLE SHOULD INFORM TO THE POLICE IMMEDIATELY SO THAT
  POLICE CAN TAKE STRICT ACTION AGAINST THOSE CRIMINAL
C.WE SHOULD HELP EACH AND EVERY PEOPLE THOSE WHO ARE FACING ISSUES AND SHOULD TAKE CARE OF THERE FRIENDS AND NEIGHBOR
D.WE SHOULD INSTALL SEVERAL SECURITY SYSTEM TO REDUCE CRIME
E.THE GIVERNMENT SHOULD SHOULD TAKE A VERY STRICT ACTIONS AGAINST THESE RAPIST AND MURDERER AND SHOULD HANG THEM TILL DEATH
F.WE CAN REDUCE CRIME BY PETROLLING IN DIFFERENT AREA 
G.THOSE AREA WHOSE ARE HIGHLY SENSITIVE THE GOVERNMENT SHOULD INCREASE THE SECURITY IN THOSE AREA AND KEEP AN
  REGULAR EYE ON THOSE AREAS

In [ ]:
MOST SAFE AREA IS STATE-ANDAMAN AND NICOBAR'S ISLAND DISTRICT-SOUTH BECAUSE THE MURDER,ATTEMPT TO MURDER AND RAPE CASES ARE VERY
LOW AND PEOPLE CAN LIVE IN THESE AREA EASILY AND PEACEFULLY
MOST UNSAFE AREA WEST BENGAL BECAUSE THE MURDER,ATTEMPT TO MURDER AND RAPE CASES ARE VERY
HIGH AND PEOPLE CANNOT LIVE IN THESE AREA EASILY AND PEACEFULLY

In [ ]:
ALSO ER OBSERVE THAT KIDNAPPING AND IPC CRIMES ARE MORE IN THE WEST BENGAL IS MORE AS COMPARED TO OTHER DISTRICTS
STS CRIME ALSO THERE IN SENSITIVE AREA AS COMPARED TO MODERATE AND PEACEFUL AREA STS CRIME IS MORE

In [ ]:
#1000WORDS ON CAPSTONE PROJECT
A capstone project is typically a final project that allows students to showcase the knowledge and skills they have gained 
throughout their academic program and apply them to real-world problems and issues.In this capstone project i have learnt
many thinghs and help me to improve myself in learning the real time project and get an overall idea that how industry work
in a real time which is very helpful for me.In this project i have learnt a lot of thinghs like colecting data frim different
source and to update the data according to the needs.Then filter the data and draw the important graph to analyze the crime
aginst various state and union territories.By that we got an overall idea that between 2001-2012 what is population,crime
rate,litracy rate,area of each state.also we came to know about the crime rate in india and how crime is affecting
in india.In this project we analyze different thinghs like total crime vs population in which we came to know that 
as population increases in rural and urban areas crime also increases but the population didnot involved more as the
crime increases.the we compare for the litracy rate and we came to the result as same as the poplation that means
as litracy rate increases crime also increases.the we seaprate different areas according to the sensitive moderate and peacfull
areas and we came to conclusion that the different factors affecting the different disticts like murder,attempt to murder rape
these factors affect the more in each area.By all these observation we came to know that during the year 2001-2012 crimes in
india are affecting more as compared to the different countries.in these particular year we observe that government doesnt 
care about the crime in india due to which crime increases and basically it is very difficult for the people to live in those
area.But after some government try to reduce the crime in diiferent state which is good for the people living in those
states.Also we came to the understanding that people are also responsible for the crime in their districts,that means
if people should do work accurately efficiently and earn their livelihood honestly without doing crime through that
crime decreases to minimum limit and all the states will become crime free.people should help each other to save them from
different crime in order to live a crime free life.
The gvernment should impose a strict and place a heavy duty in all the states
The government should take a immediate action as soon as they heard about the situation and should try to reduce
crime and to safe the people
the government and police should take strict action against that people and should make there state crime free
Also people should help each other and should support in eacha nd every situation and should stand against the 
truth which will help government to make each state crime free
People should earn there livelihood with honest without doing any crime which will be very good for the other people
All these decision should be taken so as to become crime free india which will help india to improve the condition of the
countary and all citizen should support the right decision of the government which is very good for the developing country
and help the country to developed in a better way and in a responsible way.