In [1]:
import pandas as pd

In [9]:
df=pd.read_excel(r'C:\data science assesment answere\data science question/Book2.xlsx')
df

,STATE/UT,YEAR,RURAL POPULATION,URBAN POPULATION,LITRACY RATE,AREA(km2)
0,ANDHRA PRADESH,2001,55401067,20808940,0.6050,162968
1,ARUNACHAL PRADESH,2001,870087,227881,0.5430,83743
2,ASSAM,2001,23216288,3439240,0.6330,78438
3,BIHAR,2001,74316709,8681800,0.4700,94163
4,CHHATTISGARH,2001,16648056,4185747,0.6470,135192
...,...,...,...,...,...,...
451,DELHI,2012,944727,12905780,0.8676,1483
452,LAKSHADWEEP,2012,12165,52642,0.9286,30
453,PUDUCHERRY,2012,401202,870273,0.8703,477
454,TOTAL (UTs),2012,1866226,15379428,6.0800,11619
455,TOTAL (ALL-INDIA),2012,845210878,382343354,27.8550,3010290

In [5]:
df1=pd.read_csv(r'C:\data science assesment answere\data science question/17_Crime_by_place_of_occurrence_2001_2012.csv')
df1

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft,Unnamed: 34,SCSCS
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,37,232,862,8849,214,629,7220,16751,NaN,NaN
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,8,40,65,249,22,84,248,443,NaN,NaN
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,77,261,271,1342,532,687,2423,5367,NaN,NaN
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,210,880,505,2582,1291,2203,3233,9701,NaN,NaN
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,15,239,420,2835,87,338,4144,4812,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,DELHI,2012,10,101,1249,7076,1,32,0,189,...,17,431,178,12749,28,608,1715,22032,NaN,NaN
452,LAKSHADWEEP,2012,0,0,3,7,0,0,0,0,...,0,0,0,0,0,0,3,7,NaN,NaN
453,PUDUCHERRY,2012,1,4,47,42,0,0,0,0,...,2,8,4,596,5,16,77,658,NaN,NaN
454,TOTAL (UTs),2012,11,123,1515,7974,1,32,0,199,...,28,468,217,13554,44,694,2149,24440,NaN,NaN
455,TOTAL (ALL-INDIA),2012,1288,2821,60698,81861,838,5000,316,27802,...,1797,17480,19154,181277,4314,27343,92892,337407,NaN,NaN

In [10]:
data=pd.merge(df,df1)
data

,STATE/UT,YEAR,RURAL POPULATION,URBAN POPULATION,LITRACY RATE,AREA(km2),RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,...,OTHER PLACES - Dacoity,OTHER PLACES - Robbery,OTHER PLACES - Burglary,OTHER PLACES - Theft,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft,Unnamed: 34,SCSCS
0,ANDHRA PRADESH,2001,55401067,20808940,0.6050,162968,100,177,5158,4257,...,37,232,862,8849,214,629,7220,16751,NaN,NaN
1,ARUNACHAL PRADESH,2001,870087,227881,0.5430,83743,9,26,99,131,...,8,40,65,249,22,84,248,443,NaN,NaN
2,ASSAM,2001,23216288,3439240,0.6330,78438,381,191,1695,2901,...,77,261,271,1342,532,687,2423,5367,NaN,NaN
3,BIHAR,2001,74316709,8681800,0.4700,94163,818,326,2486,4741,...,210,880,505,2582,1291,2203,3233,9701,NaN,NaN
4,CHHATTISGARH,2001,16648056,4185747,0.6470,135192,54,42,3336,1417,...,15,239,420,2835,87,338,4144,4812,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,DELHI,2012,944727,12905780,0.8676,1483,10,101,1249,7076,...,17,431,178,12749,28,608,1715,22032,NaN,NaN
454,LAKSHADWEEP,2012,12165,52642,0.9286,30,0,0,3,7,...,0,0,0,0,0,0,3,7,NaN,NaN
455,PUDUCHERRY,2012,401202,870273,0.8703,477,1,4,47,42,...,2,8,4,596,5,16,77,658,NaN,NaN
456,TOTAL (UTs),2012,1866226,15379428,6.0800,11619,11,123,1515,7974,...,28,468,217,13554,44,694,2149,24440,NaN,NaN
457,TOTAL (ALL-INDIA),2012,845210878,382343354,27.8550,3010290,1288,2821,60698,81861,...,1797,17480,19154,181277,4314,27343,92892,337407,NaN,NaN

In [ ]:
#IN THE PHASE 1 WE HAVE COLLECTED THE DATA FROM THE DIFFERENT SITE AS MENTION ABOVE
POPULATION
LITRACY RATE
AREA
PHASE 1 COMPLETED
I HAD MADE ESTIMATE THAT THERE IS CONSTANT GROWTH OF POPULATION,LITRACY RATE AND AREA